<h1 class="title">Teams</h1>
<div class="container-fluid mainWrap">
  <div class="row">
  <% teams.forEach((team) => { %>
    <div class="col-lg-6 showBox">
      <h2><a href="/teams/<%= team.id %>"><%= team.name %></a></h2>
      <h3><%= team.venue.name %></h3>
      <% if (team.statuses[0]) { %>
      <h3><%= team.statuses[0].text %></h3>
      <% } %>
    </div>
  <% }) %>
  </div>
</div>
