
<div class="container box">
  <div class="row">
    <div class="col-4 teamIndex">
      <h3>Team name</h3>
    </div>
    <div class="col-4 teamIndex">
      <h3>League</h3>
    </div>
    <div class="col-4 teamIndex">
      <h3>Status</h3>
    </div>
  </div>
  <div class="row">
    <% teams.forEach((team) => { %>
      <div class="col-4 showBox">
        <h4><a href="/teams/<%= team.id %>"><%= team.name %></a></h4>
      </div>
      <div class="col-4 showBox">
        <h4>
        <%= team.venues.map(venue => venue.name).join(', ') %>
        </h4>
      </div>
      <div class="col-4 showBox">
        <% if (team.statuses[0]) { %>
          <h4><%= team.statuses[0].text %></h4>
        <% } %>
      </div>
    <% }) %>
  </div> <%#/* closing row tag - left outside of loop */%>
</div>
