<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="info">
        <h1>Footy Finder</h1>
        <p>Footy Finder is a website dedicated to helping 5 a side players find a game in the london area</p>
        <p>You can register as a team looking for players or as a player looking for a team</p>
        <p>We have a directory of teams and venues so you can find a game convenient for you</p>
        <p>Sign up now to register and manage a team through Footy Finder</p>
      </div>
    </div>
  </div>
</div>
