body, html {
  height: 100%;
  min-height: 100%;
}

body {
  color: black;
  background-color: #5cb85c;
  &.home {
    background-image: url('../assets/images/home.jpg');
    background-size: cover;
    background-position: center;
  }
}

h2 {
  text-align: center;
  padding-bottom: 12px;
}

.box {
  background-color: white;
  padding: 30px 40px;
  border-radius: 5px;
}

.navbar {
  background-color: white;
  border-bottom: 1px solid lightgrey;
}

.info {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  padding: 20px;
  margin-top: 50px;
  text-align: center;
}

.btn-full {
  width: 100%;
}

.btn-stack {
  margin-bottom: 10px;
}

img.logo {
  height: 85px;
}

img {
  max-width: 540px;
}

header {
  margin-bottom: 20px;
}
//// HOME SCREEN
.homeWrap {
  border: 0.5px solid #5cb85c;
}

p {
  font-size: 20px;
}

//// VENUE SCREEN
.venue {
  border: 2px solid #5cb85c;
}

.card {
  padding: 15px;
}

.card-img-top.ven {
  height: 210px;
  width: 100%;
}
//// TEAM SCREEN
.card-img-top.team {
  width: 100%;
  text-align: center;
}

.commentTitle {
  margin-top: 20px;
}
.btn.btn-primary.delete {
  margin-top: 20px;
}

.teamCardVenue {
  font-size: 30px;
  text-align: center;
  }
  .top {
    padding-top: 10px;
  }

.showBox {
  border: 1px solid #5cb85c;
  text-align: center;
  padding: 5px 0;
}

.teamIndex {
  text-align: center;
  padding: 5px 0;
  color: grey;
}

h1 {
  margin: 20px 0;
  }
  .brand {
    border: none;
  }
  .title {
    margin-top: 25px;
    text-align: center;
  }

.label {
  margin-bottom: 0;
  margin-top: 10px;
}
//NAV BAR
.navbar{
  font-size: 22px;
}

//NOTIFICATION
.notification.is-danger {
  background-color: #d9534f;
  text-align: center;
  padding: 5px 0;
}
//MAPS
#map {
  border: none;
  height: 300px;
  background-color: tomato;
}
