
body {
  color: black;
  margin: 0 40px;
}

.jumbotron {
  padding: 0;
  background-color: white;
}

img.logo {
  width: 380px;
}

img {
  max-width: 540px;
}

header {
  margin-bottom: 20px;
}
//// HOME SCREEN
.homeWrap {
  border: 0.5px solid green;
}

p {
  font-size: 20px;
}

//// VENUE SCREEN
.venue {
  border: 2px solid black;
}
//// TEAM SCREEN
.showBox {
  border: 1px solid green;
  text-align: center;
  padding: 5px 0;
}

.teamIndex {
  text-align: center;
  padding: 5px 0;
  color: grey;
}

h1 {
  margin: 20px 0;
  }
  .brand {
    border: none;
  }
  .title {
    margin-top: 25px;
    text-align: center;
  }

.label {
  margin-bottom: 0;
  margin-top: 10px;
}
//NAV BAR
nav.navbar{
  margin-top: 8px;
  font-size: 24px;
  border: 2px solid green;
}
  .links {
    flex-direction: row;
  }
  .navLink {
    padding: 0 10px;
    justify-content: left;
  }
  .navbar.navbar-inverse {
    padding-left: 0;
    padding-right: 0;
  }
  .registerBtn {
    margin-top: 20px;
  }

.container-fluid {
  justify-content: space-around;
}
